body{
	background-color: #eeeeee;
}
div#cadastro{
	text-align: center;
	border: solid;
	border-radius: 10px;
	margin: 30px;

}

.bt{
	background-color:#1C1C1C;
	color: #FFFFFF;
	border: 0px;
	width: 75px;
	height: 25px;
}
.imagem{
	width: 20%;
	height: 130%;
	padding-top: 20px;
}
#formata{
	color: black;
	font-family: Century Gothic, monospace;
	font-size: 15px;
}
footer#rodape{
    clear: both;
    text-align: center;
}