#forma{
color: black;
font-family: Century Gothic, monospace;

}
div#cadastro_partido{
	text-align: center;
	border: solid;
	border-radius: 10px;
	margin: 50px;
}
body{
	background-color: #eeeeee;
}
#bt{
	background-color:#1C1C1C;
	color: #FFFFFF;
	border: 0px;
	width: 75px;
	height: 25px;
}
#img{
	width: 20%;
	height: 120%;
	padding-top: 20px;
}
.footer {
    clear: both;
    border-top: 1px solid #606060;
    color: #666;
    text-align: center;
    font-size: 80%;
    bottom:0;
    width:100%;
}
