body{
	margin: 0 auto;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #bdc3c7;
    border-left: 1px solid;
	border-color: #95a5a6;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 36px 0px 0px 0px;
}


li a:hover {
    background-color: #7f8c8d;
    color: white;
}

#menu{
	width: 1060px;
    height: 45px;
	float: right;
    
}

#box-logo{
	width: 300px;
	float:left;
	background: #bdc3c7;
}
.logomarca{
	margin-left: 20px;
}

#header{
    height: 86px;
}
