/* Formatação do Menu*/

nav#menu{
	display: block;
}

nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 300px;
}

nav#menu li{
	display: inline-block;
	background-color: #1abc9c;
	padding: 10px;
	margin: 2px;
}

nav#menu h1{
	display: none;
}