body{
	margin: 0 auto;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
 
    padding: 14px 20px;
    text-decoration: none;
    margin: 37px 0px 0px 0px;
}


li a:hover {
    background-color: #7f8c8d;
    color: white;
}

#header{
    width:100%;
    background-color: #bdc3c7;
}

.imagem {
    display: block;
    float:left;
}