@charset "UTF-8";

body{
	background-color: #eeeeee;
	margin: 0 auto;
	font-family: Century Gothic, monospace;

}

.caixa{
	text-align: center;
	border-radius: 10px;
	margin: 5% auto;
	width: 40%;
	height: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.imagemCaixa{
	width: 60%;
	height: 140%;
	padding: 40px;
}
form{
	    width: 60%;
	    margin: auto;
}
.l1{
	color: black;
	float:left;
	padding: 5px;

}
.bt{
	background-color:#2980b9;
	color: #FFFFFF;
	border: 0px;
	width: 75px;
	height: 25px;
	padding: 4px;
}
.bt:hover{
	background-color: #3498db;
}
select {
	background-color: #f9f9f9;
	border-radius: 8px;
	outline: none;
}
select:focus{
	border-color:#0073c0;
	background-color:#ecf0f1;
}
select:hover{
	background-color:#ecf0f1;
}
input{
	background: none;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 1px solid #606060;
    width: 100%;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 10px;
}

input:focus{
	background-color:#ecf0f1;
}

/* Copyright */


.footer {
    clear: both;
    border-top: 1px solid #606060;
    color: #666;
    text-align: center;
    font-size: 80%;
    bottom:0;
    width:100%;
}
/*teste*/
