<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Cadastro</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
	<div class ="caixa" id="cadastro">
		<a href="../index.html">
			<img  class="imagem"  src="../static/img/registro.png" alt="logo">
		</a>
		<form name="cadastro" action="cadastro.php" method="post">
			<input type="hidden" name="id">
			<label id="l1" for="iEmail">Email</label>
			<input type="email" name="nEmail" id="iEmail"><br>
			<label id="l1" for="iSenha">Senha</label>
			<input type="password" name="nSenha" id="iSenha"><br>
			<label id="l1" for="iCPF">CPF</label>
			<input type="text" name="nCPF" id="iCPF"><br>
			<label id="l1" for="iNome">Nome Completo</label>
			<input type="text" name="nNome" id="iNome"><br>
			<label id="l1" for="iTelefone">Telefone</label>
			<input type="text" name="nTelefone" id="iTelefone"><br>
			<label id="l1">Data de Nascimento</label>
			<input style="width: 40%" type="date" name="nData" id="iData"><br>
			<label id="l1">Sexo</label>
			<select id="l1" name="nSexo" id="iSexo">
						<option selected="selected">Selecione</option>
						<option value="masculino">Masculino</option>
						<option value="feminino">Feminino</option>
			</select><br><br>
			<label id="l1" for="iEnd">Endereço</label>
			<input type="text" name="nEnd" id="iEnd"><br>
			<label id="l1" for="iEst">Estado</label><br>
			<input type="text" name="nEst" id="iEst"><br>
			<label id="l1" for="iCid">Cidade</label><br>
			<input type="text" name="nCid" id="iCid"><br>
			<br>
			<button class="bt" type="submit" name="button">Cadastrar</button>
		</form>
		<br>
	</div>
	<footer class="footer" id="rodape">
		<p> Copyright &copy 2017 FlowTeam</p>
	</footer>
</body>
</html>
